.panelListDetails>.sapMPanelContent{
	height: 100% !important;
}

.idMaterialStockDetails--chartFixFlex{
	overflow-y: auto !important;
}

.idMaterialStockDetails--chartFixFlex-Flexible{

	min-height: 300px !important;
	height: 300px !important;
}
.myCustomTile {
         width: 23.5rem;
         height: 11rem;
         border: 1px solid #dddddd;
        border-radius: 2px;
         box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        background-color: #ffffff;
         margin: 0.5rem;
}

.PaneContainerVertical:nth-child(3){
	visibility: hidden;
}
.suggestionVbox{
 -webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 1px 1px #ccc;  
}

.sapMFlexBoxAlignContentStretch{
	background: #fff !important;
    margin: 20px !important;
    padding-left: 5px !important;
    padding-bottom: 31px !important;
}

.sapMFlexBoxAlignContentStretch>.sapMFlexItem>.sapMLabel{

	font-weight: bold !important;
    padding: 1.5rem;
}

.sapMFlexBoxAlignContentStretch>.sapMFlexItem>.sapMLabel:hover {
    cursor: pointer;
}

.sapMRIDisabled{

	padding-left: 2rem;
}